<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>Document</title>
    <style>
 input {
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
 }
 input:focus-visible {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
 }
 .sum {
    position: absolute;
    bottom: 1px;
    width: 1212px;
    background-color: white;
    text-align: right;
 }
    </style>
</head>
<body>
    <ul id="nav">
        <!-- <li><a href="index.htm"><span class="home">&nbsp;&nbsp;&nbsp;</span></a> -->
        </li>
        <li><a href="zdgk/index.htm"><span>首页</span></a>
            <ul> <li><a href="zdgk/zdgk01/index.htm">天猫</a></li>
                 <li><a href="zdgk/zdgk02/index.htm">京东</a></li>
                 <li><a href="zdgk/zdgk03/index.htm">淘宝</a></li>
                 <li><a href="zdgk/zdgk04/index.htm">唯品会</a></li>
                 <li><a href="zdgk/zdgk06/index.htm">拼多多</a></li>
                 <li><a href="zdgk/zdgk07/index.htm">小红书</a></li>
                 <li><a href="zdgk/zdgk05/index.htm">闲鱼</a></li>
                 <!-- <li><a href="zdgk/zdgk08/index.htm">中大图志</a></li> -->
           </ul>
        </li>
        <li><a href="yx/index.htm"><span>页面介绍</span></a>
        </li>
        <li><a href="xksz/index.htm"><span>购物分类</span></a>
           <ul>
              <li><a href="xksz/xksz01/index.htm">日用品</a></li>
              <li><a href="xksz/xksz02/index.htm">饮食</a></li>
              <li><a href="xksz/xksz03/index.htm">电子产品</a></li>
           </ul>
        </li>
        <li><a href="jyjx/index.htm"><span>加入我们</span></a>
           <ul>
              <li><a href="jyjx/jyjx01/index.htm">本科教育</a></li>
              <li><a href="jyjx/jyjx02/index.htm">研究生教育</a></li>
              <li><a href="jyjx/jyjx03/index.htm">国际教育</a></li>
              <li><a href="jyjx/jyjx04/index.htm">继续教育</a></li>
           </ul>
        </li>
        <li><a href="xyjj/index.htm"><span>校友与基金</span></a>
        </li>
        <li>
            Hello,<%= username %>
            <!-- <a href="jyjx/index.htm"><span>加入我们</span></a> -->
           <ul>
              <li><a href="jyjx/jyjx01/index.htm">本科教育</a></li>
              <li><a href="jyjx/jyjx02/index.htm">研究生教育</a></li>
              <li><a href="jyjx/jyjx03/index.htm">国际教育</a></li>
              <li><a href="jyjx/jyjx04/index.htm">继续教育</a></li>
           </ul>
           <a style="padding-left: 5px; font-size:14px; line-height: 14px; height: 14px; margin: auto;" href="/logout">登出</a>
            <!-- <form method="POST" action="/submit-form">
                <input type="text" id="inputData" name="inputData">
                <button type="submit">Submit</button>
            </form> -->
        </li>
       </ul>
       <!-- <%= userid %><%= username %> -->
       
    <ul class="goodslist">
        <% for(var i=0; i< message.length; i++) { %>
        <form action="/add-to-cart" method="POST">
          <li class="musicbox">
            <input class="goods" name="goods"value="<%= message[i].name %>" readonly>
            <input type="number" class="musicname" value="<%= message[i].price %>" name="price" readonly>
            <b class="musicname"><%= message[i].size %></b>
            <button type="submit" class="add">+</button>
        </li>
    </form>
        <% } %>
    </ul>
    <ul class="musicbox" style="clear:both; position: absolute; display:block; width:99%; margin:20px 0.5%; align-items: center; bottom: 5px; overflow-y: auto;">
        <% for(var i=0; i< goods.length; i++) { %>
            <form action="/delete" method="get" style="display: inline;">
                <div style="border-bottom:1px solid black; padding: 5px;">
                    name:<input style="display: inline;" type="text" name="goods" value="<%= goods[i] %>" readonly>
                    price:<input style="display: inline;" type="number" value="<%= prices[i] %>" name="price" readonly>
                    <button style="width: 32px;" type="submit">删除</button>
                </div>
            </form>

        <% } %>
    </ul>
    <div class="sum">应支付：<%= sum %></div>
    <a href="/other">to change.html</a>
</body>
<script>
    
    function addgoods(str){
        console.log(str);
    }
    function changestat(){

    }
</script>
</html>